REACT_APP_SUPABASE_URL=https://leqidlevtqnfbeedjvca.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlcWlkbGV2dHFuZmJlZWRqdmNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MTQ3ODQsImV4cCI6MjA5NzA5MDc4NH0.vFRl1CJosYD1JumwMzI7F1gUneD1CtET2dSZrNtxciA
